$grey-100: #141414;
$grey-90: #191919;
$grey-80: #1E1E1E;
$grey-70: #232323;
$grey-60: #282828;
$grey-60-70-rgba: rgba(40, 40, 40, 0.7);
$grey-50: #2D2D2D;
$grey-40: #323232;
$grey-30: #373737;
$grey-30-0-rgba: rgba(60, 60, 60, 0);
$grey-20: #3C3C3C;
$grey-10: #414141;

$contact-background-color: $grey-100;
$contact-font-color-primary: rgba(255, 255, 255, 1);
$contact-font-color-secondary: rgba(255, 255, 255, 0.56);
$contact-font-color-tertiary: rgba(255, 255, 255, 0.32);


