@import "../partials/_constants.scss";

.modal-dialog {
  margin-top: 10rem;
  @media screen and (max-width: 650px) {
    margin-top: 5rem;
  }
}

.modal-content {
  background-color: $contact-background-color;
  border-radius: 8px;
  border: none;
  width: 364px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
