<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="my-3 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <input type="file" id="uploadImage" style="display: none;" (change)="onFileSelected($event)" #fileInput/>
      <div class="profile-picture-container">
        <img
          [src]="selectedImageUrl ? selectedImageUrl : '/images/upload_image_placeholder.png'"
          alt="Selected Image"
          class="rounded-circle img-thumbnail"/>
      </div>
      <div *ngIf="!selectedImageUrl">
        <button type="button" class="btn btn-primary ms-3 ps-3 pt-2 pb-2 pe-3" (click)="showFileSelector()">
          <span class="d-flex justify-content-center align-items-center">
            <img src="/icons/add.svg" class="pe-2"/>
            Add picture
          </span>
        </button>
      </div>
    </div>
    <div *ngIf="selectedImageUrl" class="ms-2 d-flex align-items-center">
      <button type="button" class="btn btn-primary ps-2 pt-2 pb-2 pe-3" (click)="showFileSelector()">
        <span class="d-flex justify-content-center align-items-center">
          <img src="/icons/change.svg" class="pe-2"/>
          Change picture
        </span>
      </button>
      <button type="button" class="btn btn-primary p-2 ms-2" (click)="removeImage()">
        <img src="/icons/delete.svg"/>
      </button>
    </div>
  </div>
  <div class="mb-3">
    <label for="fullNameInput" class="form-label">Name</label>
    <input
      type="text"
      class="form-control px-3 py-2"
      id="fullNameInput"
      placeholder="Jamie Wright"
      formControlName="fullName">
  </div>
  <div class="mb-3">
    <label for="phoneNumberInput" class="form-label">Phone number</label>
    <input
      type="text"
      class="form-control px-3 py-2"
      id="phoneNumberInput"
      placeholder="+01 234 5678"
      formControlName="phoneNumber">
  </div>
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email address</label>
    <input
      type="text"
      class="form-control px-3 py-2"
      id="emailInput"
      placeholder="jamie.wright@mail.com"
      formControlName="email">
  </div>
</form>
